* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  /* background-image: url('../src/assets/walt-and-mickey.jpg');
  background-size: cover; */
}

.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8888881f;
  width: 100%;
  padding: 0em 1em;
  backdrop-filter: blur(10px);
}

.scores {
  margin: 0em 1em;
}

.art-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
  justify-self: stretch;
  align-self: stretch;
  /* background-color: rgb(55, 103, 87); */
}

.art-card div {
  flex: 1;
  padding: 1em;
}

img {
  object-fit: cover;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  align-items: center;
  justify-items: center;
  padding: 1em;
}

.artImg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  padding: 0.5em;
  border-style: solid;
  border-width: 15px;
  border-top-color: lighten(#000, 40%);
  border-right-color: lighten(#000, 0%);
  border-bottom-color: lighten(#000, 20%);
  border-left-color: lighten(#000, 0%);
  box-shadow: 2px 2px 4px rgba(0,0,0,.6);
}